<mat-toolbar color="primary">
    {{title}}
  <button mat-icon-button [matMenuTriggerFor]="signOutMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu [overlapTrigger]="false" #signOutMenu="matMenu">
      <button mat-menu-item (click)="signOut()" [routerLink]="['/signin']" routerLinkActive="active">Sign Out</button>
    </mat-menu>
</mat-toolbar>
<div class="bg" fxLayoutAlign="center center">
  <div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1000px">
    <router-outlet></router-outlet>
  </div>
</div>
